
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  background-color: rgb(128, 15, 0);
  width: 25px;
  height: 75px;
  position: absolute;
  /* left: 100px; */  /* Uncomment if you want to set a "starting" position */
  /* top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
